body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    height: 800px;
    width: 600px;
    background-image: url(../assets/Menu.png);
}
#startButton {
    background-color: #00BC98;
    margin: 150px 0 0 0;
    border-radius: 15px;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
}
#startButton:hover {
    background-color: #00A88F;
}